%button-base {
  display: inline-flex;
  @include cssVars(background-color, --transparent);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  @include style(1.125rem, currentColor, $ff-sans-serif);
  line-height: 1.4;
  transition: background-color 250ms $ease-in;
  text-decoration: none;
  text-align: center;
  border-radius: $radius;
  will-change: background-color;

  &:focus,
  &:hover {
    transition: background-color 200ms $ease-in;
  }

  & ~ & {
    margin-left: 0.5rem;
  }

  > svg {
    width: 1rem;
    height: 1rem;
  }
}

%button {
  @extend %button-base;
  color: var(--secondary-color);
  background-color: var(--secondary-lighten-color);
}

%button-primary {
  // @include cssVars(color, --button-text-color);
  // @include cssVars(background-color, --button-color);

  &:focus,
  &:hover {
    background-color: var(--primary-color);
    // @include cssVars(background-color, --button-hover-color);
  }
}

%button-secondary {

  &:focus,
  &:hover {
    background-color: var(--yellow-color);
  }
}

%button-tertiary {
  // @include cssVars(color, --button-text-color);
  // @include cssVars(background-color, --button-secondary-color);

  &:focus,
  &:hover {
    background-color: var(--red-color);
    // @include cssVars(color, --button-secondary-color);
    // @include cssVars(background-color, --button-secondary-hover-color);
  }
}

.button-primary {
  @extend %button;
  @extend %button-primary;
}

.button-secondary {
  @extend %button;
  @extend %button-secondary;
}

.button-tertiary {
  @extend %button;
  @extend %button-tertiary;
}
