@keyframes show {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0,0);
  }
}

.logo {
  margin-right: auto;
  opacity: 0;
  transform: translate(0, 2rem);
  animation: show 1200ms $ease-out 100ms forwards;

  @include mq($from: tablet){
    padding-top: 0.25rem;
  }

  &__figure {
    width: 12rem;
  }
}
