.album {
  max-width: 960 / 16 * 1rem ;
  padding: 1rem;

  @media screen and (min-width: 48em) {
    display: flex;
  }

  h1 {
    span {
      background-color: var(--primary-color);
    }
  }

  ul {
    margin-bottom: 1.125rem;
  }
}

.album__figure {
  max-width: 20rem;

  @media screen and (min-width: 48em) {
    flex: 0 0 20rem;
  }
}

.album__header {
}

.album__body {

  @media screen and (min-width: 48em) {
    flex: 1 1 auto;
    padding-left: 1rem;
  }
}

.album__comments {
  padding: 1rem;
  border: 1px dashed #cacaca;
  border-radius: 0.25rem;
  background-color: #f1f4f5;

  p {
    margin-bottom: 0;
  }
}
