<article class="album">
  <figure class="album__figure">
    <img src="{{ album.path }}" alt="{{ album.alt }}">
  </figure>
  <div class="album__body">
    <header class="album__header">
      <h1 class="album__title">
        <strong>#{{ album.id }}</strong>
        <br>
        <span>{{ album.title }}</span>
      </h1>
      <h2>{{ album.artist }}</h2>
      <p>{{ album?.city }} - {{ album.year }}</p>
    </header>
    <ul>
      <li>
        <strong>Intérpretes:</strong>
      </li>
      <li *ngFor="let player of album.players">{{ player.player }} - {{ player.instrument }}</li>
    </ul>
    <ul>
      <li>
        <strong>Side A:</strong>
      </li>
      <li *ngFor="let item of album.tracklistSideA">
        <span>{{ item.name }}</span> -
        <span>{{ item.duration }}</span>
      </li>
    </ul>
    <ul>
      <li>
        <strong>Side B:</strong>
      </li>
      <li *ngFor="let item of album.tracklistSideB">
        <span>{{ item.name }}</span> -
        <span>{{ item.duration }}</span>
      </li>
    </ul>
    <div class="album__comments">
      <h3>{{ album.about.date }}</h3>
      <p>
        <strong>Regalo de:</strong> {{ album.about.gift }}
        <br> {{ album.about.comments }}</p>
    </div>
  </div>
</article>
