%navigation {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    display: block;
    padding: 1rem;
    @include style(1.125rem, palette(white), $ff-sans-serif);
    text-decoration: none;
  }
}

.navigation {
  display: none;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  @include col-flex(1, true, false);

  @include mq($from: tablet) {
    display: flex;
    flex-basis: auto;
    justify-content: flex-end;
  }

  &.menu-is-open {
    @include mq($until: tablet) {
      display: flex;
      flex-direction: column;
      width: 100vw;
      height: 100vh;
      padding: 2rem;
      position: fixed;
      top: 0;
      left: 0;
      z-index: (z(default) + 1);
      background-color: rgba(var(--primary-darken-color), 0.95);
      align-items: center;

      a {
        font-size: 2rem;
      }

      .navigation__item {
        order: 1;
      }

      .navigation__item--close {
        margin-left: auto;
        margin-bottom: 2rem;
        order: 0;
      }

      .navigation__item--search {
        margin-bottom: 2rem;
        position: relative;
      }

      .search {
        width: 20rem;
        transform: translate(8rem, 0);
        order: 0;
      }
    }
  }

  &__item,
  &__item--close,
  &__item--search {
    @extend %navigation;
  }

  &__item {
    .search-is-open & {
      @include mq($from: tablet) {
        opacity: 0;
      }
    }
  }

  &__item--close {
    color: palette(white);
    cursor: pointer;

    @include mq($from: tablet) {
      display: none;
    }
  }

  &__item--search {
    flex: 0 0 4rem;
  }
}

.navigation__trigger {
  color: palette(white);
  background-color: $transparent;
  border: 0;

  @include mq($from: tablet) {
    display: none;
  }
}
