// Add a transition
%transition {
  transition: all 220ms $ease-in;
}

// Breaks p
%break-word {
  word-break: break-all;
  word-wrap: break-word;
}

// Align center block element
%center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Clearfix
%clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// Button without browser native button aspect
// -----------
%no-aspect-button {
  border: 0;
  background-color: $transparent;
}

// NEW LINE
// -----------------------
//
// Clase para inutilizar los elementos que sean
%forces-new-line {
  word-wrap: break-word;
  white-space: pre-wrap;
}
